# Ignore environment variables
.env

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
ENV/
env/
.venv/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled files
*.o
*.so
*.a
*.out
