numpy>=1.26.0
pandas>=2.2.0
plotly==5.15.0
streamlit
python-dotenv==1.0.0
azure-ai-inference
sqlalchemy
supabase
openai
PyPDF2
mistralai>=1.0.0
pytesseract
Pillow
transformers
easyocr
pdf2image>=1.16.3
pymupdf>=1.23.0
langchain>=0.1.0
langchain-community>=0.0.10
faiss-cpu